[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.devnet]
ackee_vault = "ADZAwRZ1L3w2yyXjF32JFMaGrmXR34u5TahdWUHDmNPt"

[programs.localnet]
ackee_vault = "ADZAwRZ1L3w2yyXjF32JFMaGrmXR34u5TahdWUHDmNPt"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
